* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-around;
  padding: 10px;
}

.header img {
  width: 50px;
}

h1 {
  color: white;
}

h2 {
  text-align: center;
  padding: 10px 0px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-login input[type="text"],
input[type="password"],
button {
  margin-right: 5px;
  border-radius: 3px;
  border-style: none;
  height: 30px;
  width: 120px;
}

.trybewarts-login button {
  background-color: slateblue;
  color: white;
}

#container {
  display: flex;
  background-color: yellow;
  justify-content: center;
}

main {
  display: flex;
  flex-flow: column;
}

#evaluation-form {
  width: 675px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: green;
  margin: 10px 50px;
  padding: 10px;
}


#form-user {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
}

#form-user input, select{
  width: 49%;
  flex-grow: 1;
  border-radius: 3px;  
  padding: 8px;
  margin: 3px;
  border-style: none;
}

#studies-container {
  display: flex;
}

#family {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#learn-content {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  flex-basis: 200px;
  margin: 0px 50px;
}

#textarea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}

#trybewarts-forms-logo {
  height: 500px;
  width: 100%;
}
