.header {
    display: flex;
    background-color: rgb(50, 167, 145);
}

.trybewarts-login {
    display: flex;
}

#container {
    display: flex;
}

main {
    display: flex;
    justify-content: center;
}
#evaluation-form  {
    display: flex;
    width: 675px;
    border: 2px solid red;
    flex-direction: column;
}

#trybewarts-forms-logo {
    height: 500px;
}
