.header {
    display: flex;
    background-color: rgb(50, 167, 145);
}

.trybewarts-login {
    display: flex;
}

#container {
    display: flex;
    background-color: red;
}


main {
    display: flex;
    justify-content: center;
    background-color: royalblue;
    flex-direction: column;
}
#evaluation-form  {
    display: flex;
    width: 675px;
    border: 2px solid red;
    flex-direction: column;
    background-color: silver;

}
#user {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 400px;
}

#check-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}

#family {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

#learn-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 200px;
}

#avaluation {
    
}

#trybewarts-forms-logo {
    height: 500px;
}
